body {
  margin: 0;
  font-family: 'Literata';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #002;
  color: #fdd;
}

button{
  font-family: 'Literata';
  border: none;
  font-size: 20px;
  padding: 5px 20px;
  cursor: pointer;
}


